*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-align: center;
}
h1{
    color: white;
    background-color: darkblue;
    height: 5rem;
    line-height: 5rem;
}
.choices{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 3rem;
    margin-top: 5rem;
}
.choice{
    width: 165px;
    height: 165px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
}
.choice:hover{
    background-color: blueviolet;
    cursor: pointer;
}
.score-board{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    margin-top: 3rem;
    gap: 2rem;
}
#user-score,#comp-score{
    font-size: 4rem;
}
.msg-container{
    margin-top: 4rem;
}
#msg{
    background-color: darkblue;
    color: white;
    font-size: 2rem;
    display: inline-block;
    padding: 1rem;
    border-radius: 1rem;
}
@media screen and (max-width:550px) {
.choice{
    width: 115px;
    height: 115px;
}
img{
    width: 100px;
    height: 100px;
}
}
@media screen and (max-width:420px){
    .choice{
        width: 90px;
        height: 90px;
    }
    img{
        width: 80px;
        height: 80px;
    }
    #user-score,
#comp-score {
    font-size: 2rem;
}
    #msg{
        font-size: 1.3rem;
    }
}
@media screen and (max-width:350px){
    .choice{
        width: 70px;
        height: 70px;
    }
    img{
        width: 60px;
        height: 60px;
    }
    #user-score,
#comp-score {
    font-size: 1.5rem;
}
    #msg{
        font-size: 0.8rem;
    }
}

